<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>





</head>
<body style="background-color:gray">
    <form action="" method="get" style="text-align:center;padding-top:5%;">
        <input type="text" name="str"   value="{{a}}" size="80" maxlength="3000" ><br><br>

        <input type="submit"  class="btn btn-primary" value="Calculate">
    </form>
    <br><br>
    <p style="text-align:center;padding-left:0%">result : {{res}}</p>
    <br>
    <b style="padding-left:44%; color:darkyellow; ">{{e2}}</b><b style="padding-left:44%; color:darkred; white-space:nowrap;">{{e}}</b>
</body>
</html>